*
!DESCRIPTION
!NAMESPACE
!README.md
!README.rmd
!R/
!R/*.R
!man/
!man/*.Rd
!data-raw/
!data-raw/*.R
!data/
!data/*.rda
!tests/
!tests/testthat.R
!tests/testthat/
!tests/testthat/*.R
.Rproj.user
!.github/
!.github/workflows/
!.github/workflows/*.yaml
