*
!DESCRIPTION
!NAMESPACE
!.Rbuildignore
!LICENSE
!LICENSE.md
!README.md
!README.rmd
!NEWS.md
!R/
!R/*.R
!man/
!man/*.Rd
!data-raw/
!data-raw/*.R
!data/
!data/*.rda
!tests/
!tests/testthat.R
!tests/testthat/
!tests/testthat/*.R
!.github/
!.github/workflows/
!.github/workflows/*.yaml
